@inherits LayoutComponentBase

<div class="main">
    <div class="nav-menu">
        <ul>
            <li><NavLink class="nav-link" href="">Home</NavLink></li>
            <li><NavLink class="nav-link" href="results">Results</NavLink></li>
        </ul>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>