<div class="container mx-auto px-4 py-8 text-white">
  <div class="grid gap-4">
    <%= render partial: 'pokemons/results/pokemon',
               collection: @pokemons.each_with_index.to_a,
               cached: true %>
  </div>
</div>

<%= link_to "Back to Pokemon List", pokemons_path %>
